@import "tailwindcss";

:root {
  /* Background Colors */
  --bg-primary: hsl(0, 0%, 0%);
  --bg-secondary: hsl(0, 0%, 5%);
  --bg-tertiary: hsl(0, 0%, 10%);

  /* Text Colors */
  --text-primary: hsl(0, 0%, 95%);
  --text-secondary: hsl(0, 0%, 70%);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-tertiary {
  background-color: var(--bg-tertiary);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
