@import "tailwindcss";

:root {
  /* Background Colors */
  --bg-primary: hsl(0, 0%, 10%);
  --bg-secondary: hsl(0, 0%, 20%);
  --bg-tertiary: hsl(0, 0%, 30%);

  /* Border Colors */
  --border-primary: hsl(0, 0%, 50%);

  /* Text Colors */
  --text-primary: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 70%);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-tertiary {
  background-color: var(--bg-tertiary);
}

.text-primary {
  color: var(--text-primary);
}

.text-muted {
  color: var(--text-muted);
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
